@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+HK:wght@200..900&display=swap');
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@plugin "daisyui" {
  themes: light --default
}

* {
  font-family: "Times New Roman", "Noto Serif HK", "PMingLiu", serif;
}

.katex {
  display: inline-block;
  font-size: 1.1rem !important;
  font-family: "Times New Roman", "KaTeX_Main", serif !important;
  margin-top: 0.1cm;
  margin-bottom: 0.1cm;
}

@media print {
  .no-print {
    display: none !important;
  }
}